# Node & Frontend
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java & Backend
**/target/
**/*.class
**/*.jar
**/*.war
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE & Editors
.idea/
*.iml
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment and Secrets
.env
.env.local
.env.production
